# Ignore everything

/compiler/bin
.vscode/
compiler/build/CMakeFiles/dhbwcc.dir/src/logger.c.o
compiler/build.sh
compiler/build/.ninja_deps
compiler/build/.ninja_log
compiler/build/CMakeCache.txt
compiler/build/CMakeDoxyfile.in
compiler/build/CMakeDoxygenDefaults.cmake
compiler/build/build.ninja
compiler/build/cmake_install.cmake
compiler/build/compile_commands.json
compiler/build/dhbwcc
compiler/build/rules.ninja
compiler/build/CMakeFiles/CMakeOutput.log
compiler/build/CMakeFiles/TargetDirectories.txt
compiler/build/CMakeFiles/cmake.check_cache
compiler/build/CMakeFiles/feature_tests.bin
compiler/build/CMakeFiles/feature_tests.c
compiler/build/CMakeFiles/feature_tests.cxx
compiler/build/CMakeFiles/3.9.1/CMakeCCompiler.cmake
compiler/build/CMakeFiles/3.9.1/CMakeCXXCompiler.cmake
compiler/build/CMakeFiles/3.9.1/CMakeDetermineCompilerABI_C.bin
compiler/build/CMakeFiles/3.9.1/CMakeDetermineCompilerABI_CXX.bin
compiler/build/CMakeFiles/3.9.1/CMakeSystem.cmake
compiler/build/CMakeFiles/3.9.1/CompilerIdC/CMakeCCompilerId.c
compiler/build/CMakeFiles/3.9.1/CompilerIdC/a.out
compiler/build/CMakeFiles/3.9.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
compiler/build/CMakeFiles/3.9.1/CompilerIdCXX/a.out
compiler/build/CMakeFiles/dhbwcc.dir/src/diag.c.o
compiler/build/CMakeFiles/dhbwcc.dir/src/main.c.o
compiler/build/CMakeFiles/dhbwcc.dir/src/parser.y.c.o
compiler/build/CMakeFiles/dhbwcc.dir/src/resource_manager.c.o
compiler/build/CMakeFiles/dhbwcc.dir/src/scanner.y.c.o
compiler/build/CMakeFiles/dhbwcc.dir/src/symboltable.c.o
compiler/build/CMakeTools/CMakeToolsHelpers.cmake
compiler/build/CMakeTools/InitializeCache.cmake
compiler/build/src/parser.y.c
compiler/build/src/parser.y.h
compiler/build/src/parser.y.out
compiler/build/src/scanner.y.c
compiler/testing/tests/test.sh
